<a href="https://colab.research.google.com/github/carexoid/7-semester/blob/master/neural_networks/seminars/NN_Sem1_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
np.set_printoptions(precision=2)

**Зчитуємо дані з файлу**

In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [10]:
data = pd.read_csv('/content/sample_data/adult_data.csv', sep=',')

**1. Скільки чоловіків та жінок (ознака sex) представлено в цьому наборі даних?**

In [11]:
counts = len(data[data['sex'] == 'Male']), len(data[data['sex'] == 'Female'])
print('Males: ', counts[0])
print('Females: ', counts[1])

Males:  6449
Females:  3175

**2. Який середній вік жінок (ознака age)?**

In [12]:
data[data['sex'] == 'Female']['age'].mean()

36.891338582677164

**3. Яка частка громадян Німеччини (ознака native-country)?**

In [13]:
len(data[data['native-country'] == 'Germany']) / len(data)

0.004364089775561097

**4. Які середні значення та середньоквадратичні відхилення віку тих, хто отримує більше 50К в рік (ознака salary) та менше або рівно 50К в рік?**

In [14]:
frame = data[data['salary'] == '>50K']['age']
print('              Mean            Standard Deviation')
print('>50K: ', frame.mean(), ' ', frame.std())
frame = data[data['salary'] == '<=50K']['age']
print('<=50K: ', frame.mean(), ' ', frame.std())

              Mean            Standard Deviation
>50K:  44.02487996508075   10.379892845152668
<=50K:  36.68457657166235   13.987326825766383

**5. Чи правда, що люди, які отримують більше 50К, мають як мінімум вищу освіту (ознака education: Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate)?**

In [15]:
data[data['salary'] == '>50K']['education'].apply(
    lambda x: x in ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 
                    'Masters', 'Doctorate']).all()

False

**6. Виведіть статистику віку для кожної раси (ознака race) і статі. Використовуйте groupby та describe. Знайдіть максимальний вік чоловіків раси Amer-Indian-Eskimo.**

In [16]:
data.groupby('race')[['age', 'race']].describe()

                       age
                     count       mean        std   min    25%   50%   75%   max
race
Amer-Indian-Eskimo    93.0  36.591398  12.111113  17.0  28.00  35.0  44.0  67.0
Asian-Pac-Islander   293.0  37.088737  12.905039  17.0  27.00  36.0  45.0  90.0
Black                921.0  38.154180  13.020223  17.0  28.00  36.0  47.0  90.0
Other                 78.0  32.858974  10.709535  17.0  25.25  30.0  41.0  65.0
White               8239.0  38.584294  13.693872  17.0  28.00  37.0  48.0  90.0

In [17]:
data.groupby('sex')[['age', 'sex']].describe()

           age
         count       mean        std   min   25%   50%   75%   max
sex
Female  3175.0  36.891339  13.940683  17.0  25.0  35.0  46.0  90.0
Male    6449.0  39.190417  13.338305  17.0  29.0  38.0  48.0  90.0

In [18]:
data[data['race'] == 'Amer-Indian-Eskimo']['age'].max()

67

**7. Серед кого більша частка з високою зарплатнею (>50K): серед одружених або неодружених чоловіків (ознака marital-status)? Одруженими вважаємо тих, у кого marital-status починається з Married (Married-civ-spouse, Married-spouse-absent, Married-AF-spouse), інших вважаємо неодруженими.**

In [19]:
rich = data[(data['salary'] == '>50K') & (data['sex'] == 'Male')]
married = len(rich[rich['marital-status']
                   .apply(lambda x: x.startswith('Married'))])
bachelors = len(rich) - married

print('Married: ', married)
print('Bachelors: ', bachelors)

if married > bachelors:
  print('Married prevail')
elif married < bachelors:
  print('Bachelors prevail')
else:
  print('Nobody prevails')

Married:  1735
Bachelors:  196
Married prevail

**8. Яку максимальну кількість годин людина працює на тиждень (ознака hours-per-week)? Скільки людей працюють таку кількість годин і який серед них відсоток заробляють багато?**

In [20]:
max_hours = data['hours-per-week'].max()
print('Max hours per week: ', max_hours)
slaves = data[data['hours-per-week'] == max_hours]
print('People working max hours: ', len(slaves))
rich_slaves = slaves[slaves['salary'] == '>50K']
print('Percent of making >50K: ', len(rich_slaves) / len(slaves))

Max hours per week:  99
People working max hours:  15
Percent of making >50K:  0.4666666666666667

**9. Порахуйте середній час роботи (ознака hours-per-week) тих, хто заробляє мало і багато для кожної країни (ознака native-country).**

In [21]:
for country, sub_df in data.groupby('native-country'):
  print(country)
  series = sub_df.groupby('salary')['hours-per-week'].agg(np.mean)
  frame = pd.DataFrame({'salary': series.index, 
                        'mean hours per week': series.values})
  print(frame.to_string(index=False) + '\n')

?
salary  mean hours per week
 <=50K            39.146341
  >50K            45.980392

Cambodia
salary  mean hours per week
 <=50K                 40.5
  >50K                 40.0

Canada
salary  mean hours per week
 <=50K            37.392857
  >50K            47.294118

China
salary  mean hours per week
 <=50K            35.434783
  >50K            39.400000

Columbia
salary  mean hours per week
 <=50K               41.875
  >50K               50.000

Cuba
salary  mean hours per week
 <=50K                38.96
  >50K                33.50

Dominican-Republic
salary  mean hours per week
 <=50K            43.842105
  >50K            47.000000

Ecuador
salary  mean hours per week
 <=50K                   34

El-Salvador
salary  mean hours per week
 <=50K            35.125000
  >50K            48.333333

England
salary  mean hours per week
 <=50K            41.052632
  >50K            39.428571

France
salary  mean hours per week
 <=50K            40.666667
  >50K            50.000000

Germany
salary  mean hours per week
 <=50K            39.500000
  >50K            44.583333

Greece
salary  mean hours per week
 <=50K            49.230769
  >50K            48.750000

Guatemala
salary  mean hours per week
 <=50K            38.052632
  >50K            40.000000

Haiti
salary  mean hours per week
 <=50K            33.230769

Honduras
salary  mean hours per week
 <=50K                   33
  >50K                   60

Hong
salary  mean hours per week
 <=50K                   40

Hungary
salary  mean hours per week
 <=50K                   30

India
salary  mean hours per week
 <=50K            38.166667
  >50K            45.333333

Iran
salary  mean hours per week
 <=50K            42.636364
  >50K            46.666667

Ireland
salary  mean hours per week
 <=50K                 35.2
  >50K                 60.0

Italy
salary  mean hours per week
 <=50K            43.500000
  >50K            42.555556

Jamaica
salary  mean hours per week
 <=50K            39.608696
  >50K            43.000000

Japan
salary  mean hours per week
 <=50K            41.857143
  >50K            41.666667

Laos
salary  mean hours per week
 <=50K                   40

Mexico
salary  mean hours per week
 <=50K            39.650538
  >50K            49.166667

Nicaragua
salary  mean hours per week
 <=50K                 33.9

Outlying-US(Guam-USVI-etc)
salary  mean hours per week
 <=50K                43.75

Peru
salary  mean hours per week
 <=50K                 34.8
  >50K                 40.0

Philippines
salary  mean hours per week
 <=50K            40.600000
  >50K            42.769231

Poland
salary  mean hours per week
 <=50K            40.684211
  >50K            30.000000

Portugal
salary  mean hours per week
 <=50K                 39.5
  >50K                 38.0

Puerto-Rico
salary  mean hours per week
 <=50K            39.896552
  >50K            45.000000

Scotland
salary  mean hours per week
 <=50K            33.333333

South
salary  mean hours per week
 <=50K            43.913043
  >50K            55.000000

Taiwan
salary  mean hours per week
 <=50K               46.875
  >50K               48.625

Thailand
salary  mean hours per week
 <=50K                 55.2
  >50K                 62.5

Trinadad&Tobago
salary  mean hours per week
 <=50K            34.833333

United-States
salary  mean hours per week
 <=50K            38.900291
  >50K            45.527499

Vietnam
salary  mean hours per week
 <=50K            38.736842
  >50K            40.000000

Yugoslavia
salary  mean hours per week
 <=50K            43.333333
  >50K            40.000000

For some data samples the native country is unknown ("?"). For them statistics is provided too.